<div>
  <p>
    以下の3つのWeb APIがあります(実際にアクセスできます)。<br />
    これらを利用して、あるユーザーIDをあたえたときのユーザー名および登録金融機関一覧と、登録金融機関の残高(balance)を出力するプログラムを作成してください。<br />
    なお、プログラムはオブジェクト指向プログラミングに基づく設計・実装をしてください。
  </p>
  <pre>
- Web API
  - https://sample-accounts-api.herokuapp.com/users/1
    - レスポンス例
      {
        attributes: {
          id: 1,
          name: "Alice",
          account_ids: [
            1,
            3,
            5
          ]
        }
      }
  - https://sample-accounts-api.herokuapp.com/users/1/accounts
    - レスポンス例
      [
        {
          attributes: {
            id: 1,
            user_id: 1,
            name: "A銀行",
            balance: 20000
          }
        },
        {
          attributes: {
            id: 3,
            user_id: 1,
            name: "C信用金庫",
            balance: 120000
          }
        },
        {
          attributes: {
            id: 5,
            user_id: 1,
            name: "E銀行",
            balance: 5000
          }
        }
      ]  　

  - https://sample-accounts-api.herokuapp.com/accounts/2
    - レスポンス例
      {
        attributes: {
          id: 2,
          user_id: 2,
          name: "Bカード",
          balance: 200
        }
      }
  </pre>
</div>
